[Unit]
Description=Initialize all Doors-managed Distroboxes
Documentation=https://distrobox.it/
ConditionPathExists=/usr/bin/distrobox
ConditionPathExists=/usr/bin/podman
ConditionPathExists=/usr/share/doors/distrobox
StartLimitIntervalSec=600

[Service]
Type=oneshot
ExecStart=/usr/bin/doors-distrobox bootstrap
Restart=on-failure
RestartSec=60
StartLimitBurst=3

[Install]
WantedBy=default.target
